Source: helium
Section: web
Priority: optional
Maintainer: unsafezer0 <unsafezer0@github.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://helium.computer

Package: helium
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Private, fast, and honest web browser
 Helium is a lightweight web browser focused on privacy,
 speed, and honest advertising practices.
