#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	# Add your build commands here
	# For example: cmake build, make, etc.

override_dh_auto_install:
	# Add your install commands here
	# For example: make install DESTDIR=debian/helium
